<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>풍경을 선물받는 시간, 풍선</title>
  <link rel="icon" href="/img/balloon_banana.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<style>
  .title, .content {
    display:inline;
    border: none;
    width: 100%;
  }
  .title:focus, .content:focus {
    outline: none;
  }
  textarea.content {
    min-height: 200px;
    resize: none;
  }
  .modifyBtn, .listBtn{
    float: right;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #85C3E0;
  }
  .modifyBtn i{
    color: white;
  }
  .listBtn span{
    display: inline-block;
    color: white;
    padding-top: 5px;
  }
  .listBtn{
    margin-bottom: 50px;
    margin-right: 20px;
  }

</style>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">
    <div class="container">
      <div class="mt-4">자유게시판</div><hr>

      <form action="/balloon/free_modify" method="post">

        <!--같이 넘겨줘야 할 값들 숨기기  -->
        <input type="hidden" name="page" th:value="${requestDTO.page}">
        <input type="hidden" name="type" th:value="${requestDTO.type}" >
        <input type="hidden" name="keyword" th:value="${requestDTO.keyword}" >
        <input type="hidden" class="form-control" name="bno" th:value="${dto.bno}">
        <input type="hidden" class="form-control" name="id" th:value="${dto.id}">
        <input type="hidden" name="hits" th:value="${dto.hits}">
        <input type="hidden" name="good" th:value="${dto.good}">
        <input type="hidden" name="nickname" th:value="${dto.nickname}">
        <input type="hidden" name="subject" th:value="${dto.subject}">


        <div class="container" style="margin:5px;">
          <input type="text" class="title" name="title" th:value="${dto.title}" >
        </div>
        <hr>
        <div class="container" style="margin:5px;">
          <textarea class="content" name="content" onkeydown="resize(this)" onkeyup="resize(this)">[[${dto.content}]]</textarea>
        </div>

        <div class="form-group fileForm">
          <label >Image Files</label>
          <div class="custom-file">
            <input type="file"  class="custom-file-input files" id="fileInput" multiple>
            <label class="custom-file-label" data-browse="Browse"></label>
          </div>
        </div>
        <label>첨부한 사진 미리보기</label>
        <div class="uploadResult2">
          <ul>
            <li th:each="FreeBoardImage: ${dto.imageDTOList}" th:data-file="${FreeBoardImage.getThumbnailURL()}">
              <div th:data-imgno="${FreeBoardImage.imgno}" th:data-name="${FreeBoardImage.name}" th:data-path="${FreeBoardImage.path}" th:data-uuid="${FreeBoardImage.uuid}">
                <div>
                  <button type="button" th:data-file="${FreeBoardImage.getImageURL()}" class="btn-warning btn-sm">X</button><br>
                  <img th:if="${FreeBoardImage.path != null}" th:src="|/display?fileName=${FreeBoardImage.getThumbnailURL()}|">
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="uploadResult">
          <ul>

          </ul>
        </div>

        <div class="box">

        </div>

      </form>

      <button type="button" class="modifyBtn">
        <i class="fas fa-pencil-alt"></i>
      </button>

      <button type="button" class="listBtn">
        <span class="material-icons">
            library_books
        </span>
      </button>
    </div>

    <script th:inline="javascript">
      // 게시물 높이에 맞게 자동적용
      var txtArea = $("textarea.content");
      if (txtArea) {
        txtArea.each(function(){
          $(this).height(this.scrollHeight);
        });
      }
      // 내용에 맞춰 높이 자동조절
      function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (1+obj.scrollHeight) + 'px';
      }

    $(document).ready(function(e){ // start document


      var actionForm = $("form"); //form 태그 객체

      $(".modifyBtn").click(function(e) {
        e.preventDefault();

        var str = "";

            $(".uploadResult li").each(function(i,obj){
                var target = $(obj);

                str += "<input type='hidden' name='imageDTOList["+i+"].name' value='"+target.data('name') +"'>";
                str += "<input type='hidden' name='imageDTOList["+i+"].path' value='"+target.data('path')+"'>";
                str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.data('uuid')+"'>";

            });

            //태그들이 추가된 것을 확인
            $(".box").html(str);

        actionForm
          .attr("action", "/balloon/free_modify")
          .attr("method","post")
          .submit();

       });

      $(".listBtn").click(function() {
        var page = $("input[name='page']");
        var type = $("input[name='type']");
        var keyword = $("input[name='keyword']");

        actionForm.empty(); //form 태그의 모든 내용을 지우고

        actionForm.append(page);
        actionForm.append(type);
        actionForm.append(keyword);

        actionForm
          .attr("action", "/balloon/free")
          .attr("method","get");

        actionForm.submit();

      });

      var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
      var maxSize = 10485760; // 10MB

      function checkExtension(fileName, fileSize){

        if(fileSize >= maxSize){
          alert("파일 사이즈 초과");
          return false;
        }

        if(regex.test(fileName)){
          alert("해당 종류의 파일은 업로드할 수 없습니다.");
          return false;
        }

          return true;
      }

      $(".custom-file-input").on("change", function(){ // start change

        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

        var formData = new FormData();

        var inputFile = $(this);

        var files = inputFile[0].files;

        var appended = false;

        for(var i=0; i<files.length; i++){
          if(!checkExtension(files[i].name, files[i].size)){
            return false;
          }

          console.log(files[i]);
          formData.append("uploadFiles", files[i]);
          appended = true;
        }

        // 업로드 하지 않음
        if(!appended) {return;}

        for(var value of formData.values()){
          console.log(value);
        }

        // 실제 업로드 부분
        $.ajax({  // start ajax
          url: '/free/uploadAjax',
          processData: false,
          contentType: false,
          data: formData,
          type: 'POST',
          dataType: 'json',
          success: function(result){
            console.log(result);
            showResult(result);
          },
          error: function(jqXHR, textStatus, errorThrown){
            console.log(textStatus);
          }

        }); // end ajax
      }); // end change

      function showResult(uploadResultArr){ // start showresult

        // 새로 추가되는 사진 보여주기
        var uploadUL = $(".uploadResult ul");

        var str = "";

        $(uploadResultArr).each(function(i, obj){

          str += "<li data-name='" + obj.name + "' data-path='" + obj.path + "' data-uuid='" + obj.uuid + "'>";
          str += " <div>";
          str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
          str += "class='btn-warning btn-sm'>X</button><br>";
          str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
          str += "</div>";
          str += "</li>";
        });

        uploadUL.append(str);
      } // end showresult


      // 새로운 사진파일 삭제
      $(".uploadResult").on("click", "li button", function(e){

        console.log("delete file");

        var targetFile = $(this).data("file");

        var targetLi = $(this).closest("li");

        console.log(targetFile);
        console.log(targetLi);

        $.ajax({
          url: '/free/removeFile',
          data: {fileName: targetFile},
          dataType:'text',
          type: 'POST',
          success: function(result){
            console.log("파일 삭제 완료");

              targetLi.remove();
            }
          }); //$.ajax

      });

      // 기존 사진파일 삭제하기
      $(".uploadResult2").on("click", "li button", function(e){

        console.log("delete file");

        var imgno = $(this).parent().parent().data("imgno");
        var targetFile = $(this).data("file");
        var targetLi = $(this).closest("li");

        console.log(imgno);
        console.log(targetFile);
        console.log(targetLi);

        $.ajax({
          url: '/free/removeFile',
          data: {fileName: targetFile,
                 imgno: imgno
                },
          dataType:'text',
          type: 'POST',
          success: function(result){
            console.log("파일 삭제 완료");

              targetLi.remove();
            }
          }); //$.ajax

      });

    }); // end document

        </script>


  </th:block>

</th:block>